doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Hila&Guy's Wedding
        link(href='https://fonts.googleapis.com/css?family=Roboto:400,300',rel='stylesheet',type='text/css')
        link(href='/css/style.css',rel='stylesheet',type='text/css')
        block css
    body(class=direction)
        block content
    script(src='/js/MooTools-Core-1.6.0-compressed.js')
    script(src='/js/MooTools-More-1.6.0-compressed.js')
    block js
