extends layout

block css
    link(href='/css/bootstrap.min.css',rel='stylesheet',type='text/css')
    link(href='/css/admin.css',rel='stylesheet',type='text/css')

block js
    script(src='/js/admin.js')
