html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin:0;
    padding:0;
}

body{
    font: 100% 'Roboto',Helvetica, Helvetica neue, Arial, sans-serif;
}

img.responsive {
    width: 100%;
    height: auto;
}
