html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin:0;
    padding:0;
}

body{
    background:url(/img/dark_wall.png);
    font: 100% 'Roboto',Helvetica, Helvetica neue, Arial, sans-serif;
}

img {
    width: 100%;
    height: auto;
}

.collage{
    position:fixed;
    top:0;
    left:0;
    opacity: .2
}

h1 {
    text-align: center;
    padding: 30px 0px 0px 0px;
    font-size: 25px ;
    color: #FFF;
    text-shadow: #000 0px 1px 5px;
    margin: 0px;
}

input[type="text"], input[type="email"] {
    width: 98%;
    padding: 15px 0 15px 8px;
    border-radius: 5px;
    box-shadow: inset 4px 6px 10px -4px rgba(0, 0, 0, 0.3), 0 1px 1px -1px rgba(255, 255, 255, 0.3);
    background: rgba(0, 0, 0, 0.2);
    outline: none;
    border: 1px solid black;
    margin-bottom: 10px;
    color: #a94240;
    text-shadow: #000 0px 1px 5px;
    font-size: 18px;
    transition: 1s ease;
}

input[type="submit"] {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    outline: none;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#28D2DE), to(#1A878F));
    background-image: -webkit-linear-gradient(#28D2DE 0%, #1A878F 100%);
    background-image: -moz-linear-gradient(#28D2DE 0%, #1A878F 100%);
    background-image: -o-linear-gradient(#28D2DE 0%, #1A878F 100%);
    background-image: linear-gradient(#28D2DE 0%, #1A878F 100%);
    font-size: 24px;
    color: #FFF;
    text-shadow: #000 0px 1px 5px;
    border: 1px solid #000;
    opacity: 0.7;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
    border-top: 1px solid rgba(255, 255, 255, 0.8) !important;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255, 255, 255, 0.2)));
}

button {
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ded443), to(#ca810c));
    background-image: linear-gradient(#ded443 0%, #ca810c 100%);
    font-size: 18px;
    color: #FFF;
    text-shadow: #000 0 1px 5px;
    border: 1px solid #000;
    opacity: 0.7;
    -webkit-box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.7);
    border-top: 1px solid rgba(255, 255, 255, 0.8) !important;
    -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255, 255, 255, 0.2)));
    cursor: pointer;
}

input:focus {
    box-shadow: inset 4px 6px 10px -4px rgba(0, 0, 0, 0.7), 0 1px 1px -1px rgba(255, 255, 255, 0.3);
    background: rgba(0, 0, 0, 0.3);
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    -ms-transition: 1s ease;
    transition: 1s ease;
}

input[type="submit"]:hover, button:hover {
    opacity: 1;
    cursor: pointer;
}

.wrapper{
    width: 420px;
    margin: 20px auto;
    position: relative;
    z-index: 10;
}

@media only screen and (max-width: 650px) {
    .wrapper{
        width: 100%;
        padding: 0 20px;
    }
}